<!DOCTYPE html>
<html>
<head>
  <title>Departments</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }
  </style>
</head>
<body>
  <h1>Departments</h1>
  <br>
  <table>
    <tr>
      <th>DID</th>
      <th>Name</th>
      <th>Budget</th>
      <th>Location</th>
      <th>Delete</th>
    </tr>
    <% departments.forEach(department => { %>
    <tr>
      <td><%= department.did %></td>
      <td><%= department.dname %></td>
      <td><%= department.budget %></td>
      <td><%= department.lid %></td>
      <td>
        <form action="/departments/delete/<%= department.did %>" method="POST">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </table>
</body>
</html>
